# Ignore team guide
hackathon_guide.md

# Ignore local editors and systems
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project exclusions
backend/node_modules/
backend/uploads/
oddo_hackathon/
*.log
.gemini/
